body {
    width: 100%;
    background-color: #ccc;
    font-family: Verdana;
    overflow: hidden;
}

iframe[seamless] {
    border: none;
    height: 100%;
    width: 105%;
    position: absolute;
    overflow: hidden;
}

.header {
    position: relative;
    font-family: Verdana;
    width: 105%;
    height: 10%;
    top: 0;
    background-color: rgba(0, 128, 0, 0.77);
    color: white;
}
.header h2 {
    padding: 2%;
    margin-top: 0;
}

.footer {
    position: absolute;
    left: 16px;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #ebebeb;
    color: white;
    margin: 0;
}

.footer button {
    background-color: #6c6c6c;
    margin: 0.5%;
    height: 90%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .4s ease, border .4s ease;
    white-space: nowrap;
    color: white;
    font-family: Verdana;
    vertical-align: middle;
    min-width: 14.5%;
    max-width: 14.5%;
}
.footer button.arrow {
    background-color: inherit;
}
.footer button.arrow span.rightBtn {
    width: 70%;
    height: 100%;
    background-color: #6c6c6c;
}

.col-sm-2 {
    width: 15.5%;
}
.noPadding {
    padding: 0;
}
/*-------------------------------------*/
.mainBody {
    /*height: 25%;*/
    /*padding: 1%;*/
    text-align: center;
    /*box-sizing: border-box;*/
    height: 70%;
}
.mainBody .top {
    height: 40%;
    width: 100%;
    /*display: flex;*/
}
.mainBody .top .left {
    float: left;
    /*width: 50%;*/
    height: 100%;
    /*display: flex;*/
}
.mainBody .top .left .total,.speed {
    float: left;
    width: 45%;
    padding: 0.3em;
}
.mainBody .top h3 {
    /*font-size: 1em;*/
    margin: 2%;
    text-align: center;
    height: 43%;
}
.mainBody .top .left .speed input {
    font-family: Verdana;
    float: left;
    width: 100%;
    height: 50%;
    float: left;
    padding: 0.3em;
    /*font-size: 1em;*/
    border: 2px solid gray;
    box-sizing: border-box;
}
.mainBody .top .right {
    float: right;
    padding-bottom: 1%;
    /*width: 50%;*/
    height: 100%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-end;*/
    /*align-content: flex-end;*/
}
.mainBody .top .right button {
    /*font-size: 1.2em;*/
    padding: 0.2em;
    margin: 0.2em;
    height: 40%;
    width: 45%;
}
.mainBody .top .right button.glblStart {
    color: green;
    /*align-self: flex-end;*/
}
.mainBody .top .right button.glblReset {
    color: red;
    /*align-self: flex-start;*/
}
.mainBody .top .right button.glblStop {
    color: red;
    /*align-self: flex-end;*/
}
.mainBody .bottom {
    box-sizing: border-box;
    height: 58%;
    width: 93%;
    margin-left: 2em;
    padding: 0.5em;
    border: 1px solid #6c6c6c;
    border-radius: 5px;
    /*display: flex;*/
    justify-content: space-between;
    text-align: center;
}
.mainBody .bottom div {
    width: 33%;
}
.mainBody .bottom button {
    width: 90%;
    height: 40%;
    background-color: inherit;
    padding: 0.2em;
    margin: 0.3em;
}
.col-md-4 {
    float:left;
}
